@import "../../styles/media.scss";

.header__bottom {
  padding: 15px 0 0;
  position: sticky;
  top: 90px;
  z-index: 12;
  background-color: white;

  &-row {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 10px;

    &-link {
      text-decoration: none;
      color: #333;

      :hover {
        color: #57004e;
        text-decoration: underline 1px solid #57004e;
      }
    }

    &-link:nth-child(1) {
      color: red;
      :hover {
        text-decoration: underline 1px solid red;
      }
    }
  }

  &-line {
    height: 3px;
    background-color: #333;
    opacity: 0.1;
    margin: 10px 0 15px;
  }
}
// @media (min-width:784px) {
//   .header__bottom{
//     &-right{
//       display: none;
//     }
//     &-left{
//       display: none;
//     }
//   }
// }
// @include respond-to-mobile {
  
//   .header__bottom {
//     top: 0;
//     color: #000000;
//     padding: 5px 0 0 0;
//     &-container{
//       display: flex;
//       gap: 10px;
//     }
//     &-row{
//       display: none;
//     }
//     &-right{
//       &-btn{
//         height: 40px;
//         padding: 0 15px;
//         background: #57004e;
//         color: #ffffff;
//         border: 0;
//         border-radius: 5px;
//         font-size: 20px;
//       }
//     }
//     &-left{
    
//     position: relative;
//     display: flex;
//     align-items: center;
//     &-input {
//       height: 40px;
//       width: 109px;
//       padding-left: 5px;
//       font-size: 18px;
//       font-weight: 400;
//       font-family: "Roboto Condensed";
//       font-style: italic;
//       outline: 1px rgb(62, 0, 55);
//       border: 1px solid #5b5b5b;
//       border-radius: 5px 0 0 5px;
//       color: #999;
//     }

//     &-button {
//       height:40px;
//       width: 40px;
//       border: 0;
//       border-radius: 0px 5px 5px 0px;
//       background: rgb(240, 173, 78);
//       color: #ffffff;
//       font-size: 18px;
//       font-weight: 500;
//       cursor: pointer;
//       font-family: "Roboto Condensed";
//     }
//     }
//   }
// }
