* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

ul,
li {
  list-style-type: none;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

button {
  cursor: pointer;
  outline: 0;
}
a{
  text-decoration: none;
  color: #000;
}
