.map{
    &__container{
        display: flex;
    }
    &__left{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-right: 50px ;
    }
    &__title{
        font-size: 60px;
        font-weight: 400;
    }
    &__ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 500px;
        overflow:scroll ;
        scrollbar-color: rgba(0,0,0,0);
    }
    &__li{
        font-size: 20px;
        cursor: pointer;
    }
    &__span{
        margin-top: 20px;
        color: #9c9c9c;
        margin-right: 10px;
    }
    &__time{
        color: rgb(29, 190, 0);
    }
    &__map{
        height: 650px;
        width: 1090px;
        border: 0;
        border-radius: 20px;
    }
}